:root {
    --page-weight: 700px;
}

* {
    font-family: monospace;
}

dd {
    font-style: italic;
}

body {
    margin-bottom: 0;
    margin-top: 0;
}

a {
    color: black;
}

h1 {
    text-align: center;
    display: initial;
}

li {
    list-style-type: none;
}

.title {
    padding: 1em 1em;
    margin: 0.5em;
}

.header {
    text-align: center;
    display: block;
    max-width: var(--page-weight);
    margin: 0 auto;
}

.header_gif {
    width: 350px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    max-width: var(--page-weight);
    margin: 0 auto;
}

footer {
    margin: 10px 0 0;
    max-width: var(--page-weight);
    /*background-color: #45a1ff;*/
    flex-shrink: 0;
    text-align: center;
    width: 100%;
}


